* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat';

}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 0;
    z-index: 999;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-logo {
    font-size: 3rem;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
    margin-left: -8%;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    padding: 10%;
    font-size: 1.4rem;
    font-weight: 1000;
    letter-spacing: 1px;
    color: #FFFFFF;
    transition: color .5s;
    background-color: #015536;
    border-radius: 40px;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 80%;
}

.waviy span {
    font-family: 'Montserrat';
    font-size: 65px;
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    text-transform: uppercase;
    animation: waviy 1.5s infinite;
    animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

.bdy {
    width: 100%;
    height: 100vh;
    background-color: #262627;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.c {
    position: absolute;
}

.img_1 {
    top: -15rem;
    left: -21rem;
}

.img_2 {
    bottom: -80rem;
    right: -60rem;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-left: 5%;
}

.text {
    color: #FFFFFF;
    flex: 1;
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-top: 10%;
}

.text1 {
    color: #FFFFFF;
    flex: 1;
    text-transform: initial;
    font-family: 'Montserrat';
    padding-bottom: 20px;
}

.text h1 {
    font-size: calc(1rem + 4vw);
    font-weight: 800;
    line-height: 1.2;
    padding-left: 55%;
    font-family: 'Montserrat';
}

.text h1 span {
    color: #41B169;
    font-family: 'Montserrat';
}

.text h5 {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 8rem 0 4rem 0;
    margin-left: 55%;
}

.text p {
    text-transform: lowercase;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;

}

.cta {
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    padding: 1.5rem 3rem;
    margin-left: 55%;
    background-color: #047C4C;
    transition: background-color .5s;
}

.cta:hover {
    background-color: #015536;
    color: #FFFFFF;
}



.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
}

.layer {
    background-color: #BCBCBC;
}

.layer-1 {
    flex: 1;
}

.layer-2 {
    flex: 1;
}

.layer-3 {
    flex: 1;
}

.logo {
    width: 100px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* customizable snowflake styling */
.snowflake {
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'Montserrat';
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -20%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

/* Slideshow container */
.slideshow-container1 {

    width: 40%;
    margin-left: -33%;

}



.review {
    margin-top: 100%;
    margin-left: 55%;
}



.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex
  }

  .nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }

  .wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .wrap li {
    background: gold
  }

  .wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
  }

  .wrap-reverse li {
    background: #00bfff
  }

  .flex-item {
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
    text-align: center
  }

  .aquisitionBarV2 {
    background-color: #134326
  }

  .aquisitionBarV2 .flex-container {
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .aquisitionBarV2 .flex-container-nested {
    margin: 0;
    padding: 10px
  }

  @media screen and (max-width:812px) {
    .aquisitionBarV2 .flex-container-nested {
      padding: 20px 10px
    }
  }

  .aquisitionBarV2 .flex-container-nested:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 0;
    border-bottom: 0
  }

  @media screen and (max-width:812px) {
    .aquisitionBarV2 .flex-container-nested:nth-child(2) {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: 0;
      border-right: 0
    }
  }

  .flex-item {
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
    text-align: center
  }

  .aquisitionBarV2 {
    background-color: #134326
  }

  .aquisitionBarV2 .flex-container {
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .aquisitionBarV2 .flex-container-nested {
    margin: 0;
    padding: 10px
  }

  @media screen and (max-width:812px) {
    .aquisitionBarV2 .flex-container-nested {
      padding: 20px 10px
    }
  }

  .aquisitionBarV2 .flex-container-nested:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 0;
    border-bottom: 0
  }

  @media screen and (max-width:812px) {
    .aquisitionBarV2 .flex-container-nested:nth-child(2) {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: 0;
      border-right: 0
    }
  }

  .aquisitionBarV2 .wrapped {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .aquisitionBarV2 .alignCenter {
    -ms-flex-item-align: center;
    align-self: center
  }

  .aquisitionBarV2 .flex-item {
    padding: 0 5px 0 5px;
    line-height: 45px
  }

  .aquisitionBarV2 .flex-item img {
    width: 100%
  }

  .aquisitionBarV2 .flex-item.resize-fc-logo {
    margin-top: -9px
  }

  @media (max-width:1199px) {
    .aquisitionBarV2 .flex-item.resize-fc-logo {
      margin-top: -3px
    }
  }

  @media (max-width:991px) {
    .aquisitionBarV2 .flex-item.resize-fc-logo {
      margin-top: -20px
    }
  }

  @media (max-width:590px) {
    .aquisitionBarV2 .flex-item.resize-fc-logo {
      margin-top: -12px
    }
  }

  .paymentOptions img {
    width: 100%;
    max-width: 280px;
    max-height: 230px;
    margin: 0 auto;
    display: block;
    margin-top: 1em
  }

  div.paymentOptions>div {
    color: #fff;
    display: block;
    margin: 0 auto
  }
  .mobileversion{
    display:none;
  }
  .devices {
    width: 80%;
    display: block;
    margin: 0 auto
  }

  .devices img {
    display: inline-block;
    width: 15%;
    max-width: 50px;
    float: left
  }

  .devices p {
    display: inline-block;
    float: left;
    margin: 0 0 15px 10px;
    width: 80%;
    color: #fff
  }

  @media screen and (max-width:767px) {
    .col-sm-4.usp {
      border-right-width: initial;
      border-left-width: initial;
      border-right-style: none;
      border-left-style: none;
      border-right-color: initial;
      border-left-color: initial;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      margin: 0;
      padding-top: 6%
    }

    .col-sm-4.paymentOptions {
      padding-bottom: 9%
    }

    .hiddenField {
      display: block
    }
  }

  .aquisitionBarV2 {
    background-color: #134326
  }

  .aquisitionBarV2 .flex-container {
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .aquisitionBarV2 .flex-container-nested {
    margin: 0;
    padding: 10px
  }

  @media screen and (max-width:812px) {
    .aquisitionBarV2 .flex-container-nested {
      padding: 20px 10px
    }
  }

  .aquisitionBarV2 .flex-container-nested:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 0;
    border-bottom: 0
  }

  @media screen and (max-width:812px) {
    .aquisitionBarV2 .flex-container-nested:nth-child(2) {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: 0;
      border-right: 0
    }
  }

  .aquisitionBarV2 .wrapped {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .aquisitionBarV2 .alignCenter {
    -ms-flex-item-align: center;
    align-self: center
  }

  .aquisitionBarV2 .flex-item {
    padding: 0 5px 0 5px;
    line-height: 45px
  }

  .aquisitionBarV2 .flex-item img {
    width: 100%
  }

  .aquisitionBarV2 .flex-item.resize-fc-logo {
    margin-top: -9px
  }

  @media (max-width:1199px) {
    .aquisitionBarV2 .flex-item.resize-fc-logo {
      margin-top: -3px
    }
  }

  @media (max-width:991px) {
    .aquisitionBarV2 .flex-item.resize-fc-logo {
      margin-top: -20px
    }
  }

  @media (max-width:590px) {
    .aquisitionBarV2 .flex-item.resize-fc-logo {
      margin-top: -12px
    }
  }

  .aquisitionBarV2 .payment-icons {
    text-align: left;
    font-size: 26px
  }

  @media screen and (max-width:812px) {
    .aquisitionBarV2 .payment-icons {
      font-size: 25px
    }
  }

  .aquisitionBarV2 .payment img {
    max-width: 90px;
    float: left
  }

  .aquisitionBarV2 .devices p {
    font-weight: 700;
    font-style: italic;
    padding-top: 11px;
  }

  .aquisitionBarV2 ul {
    list-style-type: none;
    color: #fff;
    padding-left: 0;
    width: 80%;
    margin: 0 auto;
    font-size: 16px
  }

  .aquisitionBarV2 ul li span {
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    top: -1px
  }

  .aquisitionBarV2 ul li span img {
    width: 11px
  }

  .not-found .sub-menu {
    display: none !important
  }

  @-webkit-keyframes fadeInLeftSmall {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-5%, 0, 0);
      transform: translate3d(-5%, 0, 0)
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
    }
  }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 480px) {
   
.nav-logo {
    font-size: 3rem;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
    margin-left: 0%;
}

.text {
    color: #FFFFFF;
    flex: 1;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 10px;
    margin-right: 40px;
    
}

.text1 {
    color: #FFFFFF;
    flex: 1;
    text-transform: initial;
    font-family: 'Montserrat';
    width: auto;
    margin-right: 40px;
    
}

.text h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    padding-right: 55%;
    margin-left: 0px;
    font-family: 'Montserrat';
    margin-right: 40px;
}

.text h1 span {
    font-size: 40px;
     
    margin-right: 40px;
    margin-left: 0px;
    font-family: 'Montserrat';
}

.text h5 {
    font-size: auto;
    font-weight: 500;
    margin-right: 40px;
    margin:auto;
    margin-left: 0px;
}
.container {
    max-width: auto;
    margin-right: 40px;
    
    /* padding: 0 1.5rem; */
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 40px;
     
     
}

.waviy {
    margin-right: 40px;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
     
}

.waviy span {
    font-family: 'Montserrat';
    margin-right: 40px;
     color: #000;
    animation: waviy 1.5s infinite;
    animation-delay: calc(.1s * var(--i));

}

.bdy {
    background-image: url("./images/chr2.png");
    background-color: #262627;
    display: flex;
    align-items: left;
}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}
.mobileversion{
    display:contents;
    margin-right: 60px;
    margin-bottom: 200px;
}
.desktopversion{
    display:none;
}

.review{
    display:inline-block;
    margin-left: -230px;
    margin-top: 750px;
    margin-bottom: 100px;
}
*{
    margin-left: auto;
    
}

.cta {
    display:inline-block;
    margin-top: 10px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
     width: max-content;
    margin-left: 0px;
    background-color: #047C4C;
    transition: background-color .5s;
}

.cta:hover {
    background-color: #015536;
    color: #FFFFFF;
}
  }
  
  